body {
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
    background-color: black;
    min-width: 320px;
}

.title {
    color: burlywood;

}

a {
    color: burlywood ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-decoration-line: none;
    padding-right: 15px;
}

.last-item {
    padding-right: 0;
}

button {
    color: lightgray;
    background: none;
    font-family: Georgia;
    border: none;
    font-size: 1.5em;
    margin-top: 10px;
    padding: 10px; 
    ;
}


#welcomebox button {
    margin-top: 5px;
    padding: 5px; 
}

button:focus {
    color: burlywood;
    outline-color: lightgray;
}

h1 {
    font-family: Georgia;
}

img.social-media {
    display: inline-block;
    width: 10%;
}

div.social-media {
    float: right;
    padding-right: 20px;
    max-height: 10%;
    width: 50%;
}

#nav-logo {
    vertical-align: middle;
    margin-bottom: 10px;
    max-height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

/* fonts and text props */

.font-content {
    color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu-item {
    text-align: left;
    margin-left: 5px;
}

.menu-price {
    text-align: right;
    margin-right: 5px;
}

#bg {
    object-fit: none;
    max-height: calc(100vh - 268px);
    width: 100%;
}

/* Tables properties */

table {
    width: 100%;
    color: lightgray;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: solid burlywood 2px;
}

table.last {
    border-bottom: none;
}

.explanation {
    font-size: smaller;
    height: 20px;
}

tr {
    height: 30px;
}

/* containers */
 .block {
     display: inline-block;
 }

.button-row {
    margin-bottom: 10px;
}

.content-box {
    position: absolute;
    background-color: black;
    color: burlywood;
    /*font-size: calc(0.85em + 1vw);*/
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 30px;
    margin-bottom: 5%;
    z-index: 2;
    top: 15%;
    left: 30%;
    right: 30%;
    background: rgba(0, 0, 0, .6);
}

.content-box h1 {
    font-size: 2em;
}

#logo {
    box-sizing: border-box;
    max-height: 65px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    z-index: 4;
    text-align: center;
}

html body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    font-size: calc(0.5em + 0.5vw);
}

#map {
    box-sizing: border-box;
    margin: 12.5%;
    height: 300px;
    width: 75%;
    opacity: 1; 
}

#page-container {
    position: relative;
    min-height: 100vh;
    max-height: 100%;
}

#welcomebox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 75%;
    height: 75%;
    max-height: 100%;
    max-width: 100%;
    z-index: 3;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    margin: auto;
    border: 3px solid lightgray;
    color: lightgray;
    background-color: black;
}

/* NAVIGATION MENU */

#nav-menu {
    display: block;
}

#nav-menu-large {
    display: none;
}

nav {
    position: sticky;
    box-sizing: border-box;
    border-top: 5px solid white;
    height: 65px;
    max-height: 65px;
    color: burlywood;
    padding-left: 27%;
    padding-right: 0;
    display: block;
    z-index: 3;
   
}

nav ul {
    text-align: left;
    z-index: 6;
    max-height: 100%;
}

nav ul li {
    
    display: block;
    position: relative;
    z-index: 6;
}

nav ul li a {
    
    width: 125px;
    color: burlywood;
    text-decoration: none;
    z-index: 6
}

nav ul li a:hover {
    
    box-sizing: border-box;
    height: 100%;
    color: lightgray;
    z-index: 6;
}

nav ul li ul {
    
    display:none;
}
nav ul li:hover ul {
    height: 60px;
    /*display:block;*/
    position:relative;
    color: lightgray;
    z-index: 6;
}

/* END OF TESTING */


.bg-mid {
    position: relative;
    width: 100%;
    /*min-height: 70vh;*/
    height: calc(100vh - 180px);
    left: 0;
    top: 0;
    background-size: contain cover;
   /* background: url("../resources/background1.jpg");*/
    /*background-position-y: 45%;*/
    transition: background-image 1s ease-in;
    -webkit-transition: background-image 1s ease-in-out;
    overflow: auto;
    -webkit-backface-visibility: hidden;
}

footer {
    box-sizing: border-box;
    position: sticky;
    padding-top: 3px;
    width: 100%;
    text-align: center;
    /*font-size: calc(0.5em + 0.5vw);*/
}

/* Eri laitekoot */

/* Small devices (tablets and phones, 768px and down) */
@media only screen and (max-width: 979px) {
    .content-box {
        width: 75%;
        left: 7.5%;
        right: 0;
    }

}

@media only screen and (min-width: 480px) {
    #nav-menu {
        display: none;
    }

    #nav-menu-large {
        display: block;
    }

    nav {
        position: sticky;
        /* /*text-align: center; */
        box-sizing: border-box;
        height: 65px;
        border-top: 5px solid white;
        max-height: 65px;
        padding-top: 20px;
        padding-left: 1%;
        padding-right: 2%;
    }
    .nav-left {
        float: left;
    }
    
    .nav-right {
        float: right;
    }
}

@media only screen and (max-width: 479px) {
    nav {
        padding-left: 1%;
        padding-right: 1%;
        
    }
    nav ul {
        text-align: right;
    }

    #logo {
        margin-left: 5px;
        transform: translate(0);
        left: 0;
    }

    footer {
        font-size: medium;
    }
}

@media only screen and (max-height: 400px) {
    
    .content-box {
        top: 1%;
    }
    .content-box p {
        font-size: medium;
    }
    .content-box h1 {
        font-size: 2em;
    }

    table td {
        font-size: small;
    }
    .button {
        font-size: medium;
    }
    .bg-mid {
        min-height: 55vh;
    }

    footer {
        font-size: small;
    }

}

@media only screen and (min-width: 480px) and (max-width: 979px) {
   a {
       font-size: medium;
   }
}

/* Large devices (laptops/desktops, 992px up to 1200px) */
@media only screen and (min-width: 980px) and (max-width: 1200px) {

    nav {
        padding-left: 23%;
        padding-right: 25%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    nav {
        padding-left: 28%;
        padding-right: 30%;
    }
}

