body {
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
    background-color: black;
}

.title {
    color: burlywood;

}

a {
    color: burlywood ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-decoration-line: none;
    padding-right: 15px;
}

button {
    color: lightgray;
    background-color: black;
    font-family: Georgia;
    border: none;
    font-size: large;
    margin-top: 10px;
    padding: 10px; 
}

button:focus {
    color: burlywood;
}

h1 {
    font-family: Georgia;
}

#nav-logo {
    vertical-align: middle;
    margin-bottom: 10px;
    max-height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

/* fonts and text props */

.font-content {
    color: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu-item {
    text-align: left;
    margin-left: 5px;
}

.menu-price {
    text-align: right;
    margin-right: 5px;
}

#bg {
    object-fit: none;
    max-height: calc(100vh - 268px);
    width: 100%;
}

/* Tables properties */

table {
    width: 100%;
    color: lightgray;
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: solid burlywood 2px;
}

.explanation {
    font-size: smaller;
    height: 20px;
}

tr {
    height: 30px;
}

/* containers */
 .block {
     display: inline-block;
 }

.button-row {
    margin-bottom: 10px;
}

#logo {
    box-sizing: border-box;
    max-height: 65px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    z-index: 4;
    text-align: center;
}

html body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

/* NAVIGATION MENU */

#nav-menu {
    display: block;
}

#nav-menu-large {
    display: none;
}

nav {
    position: sticky;
    box-sizing: border-box;
    border-top: 5px solid white;
    height: 65px;
    max-height: 65px;
    color: burlywood;
    padding-left: 27%;
    padding-right: 0;
    display: block;
    z-index: 3;
   
}

nav ul {
    text-align: left;
    z-index: 6;
    max-height: 100%;
}

nav ul li {
    
    display: block;
    position: relative;
    z-index: 6;
}

nav ul li a {
    
    width: 125px;
    color: burlywood;
    text-decoration: none;
    z-index: 6
}

nav ul li a:hover {
    
    box-sizing: border-box;
    height: 100%;
    color: lightgray;
    z-index: 6;
}

nav ul li ul {
    
    display:none;
}
nav ul li:hover ul {
    height: 60px;
    display:block;
    position:relative;
    color: lightgray;
    z-index: 6;
}

/* END OF TESTING */

.content-box {
    position: absolute;
    background-color: black;
    color: burlywood;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    opacity: 0.6;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 30px;
    margin-bottom: 5%;
    z-index: 2;
    top: 15%;
    left: 30%;
    right: 30%;
}

.bg-mid {
    position: relative;
    width: 100%;
    min-height: 75vh;
    left: 0;
    top: 0;
    background: url("../resources/background1.jpg");
    background-position-y: 45%;
    overflow: auto;
}

footer {
    position: sticky;
    width: 100%;
    text-align: center;
    height: 5rem;
    
}

/* Eri laitekoot */

/* Small devices (tablets and phones, 768px and down) */
@media only screen and (max-width: 979px) {
    .content-box {
        width: 75%;
        left: 10%;
        right: 15%;
    }

    footer {
        max-height: 10%;
    }

    
}

@media only screen and (max-width: 479px) {
    nav {
        padding-left: 0%;
        padding-right: 5%;
        
    }
    nav ul {
        text-align: right;
    }

    #logo {
        margin-left: 5px;
        transform: translate(0);
        left: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 979px) {
    nav {
       padding-left: 8%; 
       
    }
}

/* Large devices (laptops/desktops, 992px up to 1200px) */
@media only screen and (min-width: 980px) and (max-width: 1200px) {
    

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #nav-menu {
        display: none;
    }

    #nav-menu-large {
        display: block;
    }

    nav {
        position: sticky;
        /* /*text-align: center; */
        box-sizing: border-box;
        border-top: 5px solid white;
        height: 65px;
        max-height: 65px;
        padding-top: 20px;
        padding-left: 28%;
        padding-right: 30%;
    }
    .nav-left {
        float: left;
    }
    
    .nav-right {
        float: right;
    }

}
/*Testi */

