
<div>
    <div class="font-content">
        <p>Kerro tarjouspyynnössä päivämäärä, kellonajat, sekä tilaisuuden luonne, että osallistujamäärä.</p>
        <p>Voit myös mainita mahdollisista erityisruokavalioista, sekä menuvaihtoehdoista.</p>
        <p>Otamme teihin yhteyttä mahdollisimman pian.</p>
    </div> 
    <div class="formHolder">
        <form id="bookCatering">
            <label>Email</label>
            <input type="email" placeholder="esimerkki@esimerkki.xx">
            <textarea maxlength="400" placeholder="Maksimipituus 400 merkkiä"></textarea>
            <input type="submit" value="Lähetä">
        </form>
    </div>
</div>