<div class="font-content">
    <p>Tarjoamme ammattimaisia, asiakkaan tarpeiden mukaan räätälöityjä catering-palveluita vuosien kokemuksella!</p>
    <p>Tutustu alta ladattavaan catering-menuumme ja jätä tarjouspyyntö niin otamme teihin yhteyttä mahdollisimman pian.</p>
    <p>Jos menumme ei vastaa tarpeitasi, ei hätää! Mainitse tästä tarjouspyynnössä niin voimme yhdessä suunnitella menun juuri sinulle.</p>
</div>
<div>
    <a href="javascript:getContent('frontPage', '1');">Craft&Grub-catering2019.pdf</a>
</div>